[Unit]
Description=Beam Partition

[Service]
User=stack
Restart=on-failure
WorkingDirectory=/home/stack/protobeam/
ExecStart=/home/stack/protobeam/cluster/startpartition.sh -cfg dist/c3.json -sp startup.cpu

[Install]
WantedBy=multi-user.target
